<html>
<head>
    <style>
        div {
            margin-top: 10px
        }

    </style>
</head>
<body>
<h4>Hello, $!{name}</h4>
<hr>
<div>
    We have received your request of password resetting, please click the following link to reset your password:
</div>
<div><a href="$!{url}">$!{url}</a></div>

<div>(The link will be expired after 5 minute)</div>
<hr>
Copyright 2013 My Web. This is a system email and please don't reply.
</body>

</html>