<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">


    <!--<security:global-method-security jsr250-annotations="enabled" pre-post-annotations="enabled"-->
    <!--secured-annotations="enabled"/>-->

    <security:http auto-config="true" use-expressions="true">
        <security:intercept-url pattern="/login" access="permitAll"/>
        <security:intercept-url pattern="/account/resetPassword" access="permitAll"/>
        <security:intercept-url pattern="/account/signIn" access="permitAll"/>
        <security:intercept-url pattern="/static/**" access="permitAll"/>
        <security:intercept-url pattern="/**" access="hasRole('ROLE_USER')"/>
        <security:form-login
                login-page="/login"
                authentication-success-handler-ref="loginSuccess"/>
        <security:logout invalidate-session="true" logout-success-url="/" logout-url="/logout"/>
        <security:remember-me key="my-web-remember" user-service-ref="userDetailsManager"/>

    </security:http>

    <bean id="encoder" class="org.springframework.security.crypto.password.StandardPasswordEncoder"/>

    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider>
            <security:password-encoder ref="encoder"/>
            <security:jdbc-user-service data-source-ref="dataSource"/>
        </security:authentication-provider>
    </security:authentication-manager>

    <bean id="userDetailsManager" class="org.springframework.security.provisioning.JdbcUserDetailsManager">
        <property name="dataSource" ref="dataSource"/>
        <property name="authenticationManager" ref="authenticationManager"/>
    </bean>

</beans>